<h1>Kettler: Work Summary
  <%= @from_ymd.strftime('%y/%m/%d') %> to 
  <%= (@to_ymd-1).strftime('%y/%m/%d') %>
  for <%= @author %>
</h1>
<table>
  <tr>
    <th>Work Date</th> <th>Time</th> <th>Issue No.</th>
    <th>Task/Project</th> <th>Description</th>
  </tr>
<% @work_logs.each do |log| %>
  <tr>
    <td><%= log.CREATED.strftime('%m/%d/%y') %></td>
    <% timeworked = (log.timeworked / 60.0 / 60.0) %>
    <td><%= timeworked %></td>
    <td width="60px"><%= log.jira_issue.pkey %></td>
    <td><%= log.jira_issue.SUMMARY %></td>
    <td><%= log.worklogbody %></td>
  </tr>
<% end %>
</table>
